In [2]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
import warnings

In [3]:
df = pd.read_csv('text.csv')

In [4]:
df.head(10)

   Unnamed: 0                                               text  label
0           0      i just feel really helpless and heavy hearted      4
1           1  ive enjoyed being able to slouch about relax a...      0
2           2  i gave up my internship with the dmrg and am f...      4
3           3                         i dont know i feel so lost      0
4           4  i am a kindergarten teacher and i am thoroughl...      4
5           5         i was beginning to feel quite disheartened      0
6           6  i would think that whomever would be lucky eno...      2
7           7  i fear that they won t ever feel that deliciou...      1
8           8  im forever taking some time out to have a lie ...      5
9           9  i can still lose the weight without feeling de...      0

In [5]:
df.columns

Index(['Unnamed: 0', 'text', 'label'], dtype='object')

In [6]:
df.drop(columns='Unnamed: 0', inplace=True)

In [7]:
print(f'The Shape Of Data Is : {df.shape}')

The Shape Of Data Is : (416809, 2)

In [8]:
# checking the duplicates we have found some so we are going to remove them 
df.duplicated().sum()

686

In [9]:
# removing the duplicates
df = df.drop_duplicates()

In [10]:
# rechecking the duplicates
df.duplicated().sum()

0

In [11]:
df['text'] = df['text'].apply(lambda x: re.sub(r'[^a-zA-Z\s]', '', x))

df.head()

                                                text  label
0      i just feel really helpless and heavy hearted      4
1  ive enjoyed being able to slouch about relax a...      0
2  i gave up my internship with the dmrg and am f...      4
3                         i dont know i feel so lost      0
4  i am a kindergarten teacher and i am thoroughl...      4

In [12]:
stop = stopwords.words('english')
df["text"] = df['text'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

df.head()

                                                text  label
0                 feel really helpless heavy hearted      4
1  ive enjoyed able slouch relax unwind frankly n...      0
2            gave internship dmrg feeling distraught      4
3                                dont know feel lost      0
4  kindergarten teacher thoroughly weary job take...      4